/* 
Styles relating to the left pane
*/
.pane-left{
	margin-left: 0px;
	width: 160px;
	background: black;
	position: fixed;
	height: 100%;
	color: white;
	font-family: Consolas, monaco, monospace;
}
.title{
	font-size: 26px;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 4px;
	border-left: 5px solid;
}
.menu-item{
	font-size: 18px;
	text-align: left;
	padding-top: 8px;
	padding-bottom: 4px;
	padding-left: 25px;
	border-left: 5px solid;
}
.menu-item:hover{
	border-left: 0px solid;
	padding-left: 30px;
}
.menu-link{
	text-decoration: none;
}
.menu-link:hover{
	text-decoration: none;
}
/*.sidebar-cmd{
	font-family: Consolas, monaco, monospace;
	font-size: 12px;
	padding-left: 6px;
	padding-top: 15px;
}*/

/*
Styles for the recent post area
*/
.recent-container{
	padding: 12px 0px 0px 15px;
	color:#A1A1A1;
	border-left: 5px solid;
}
.recent-header{
	line-height: 12px;
}
.recent-item{
	padding:8px 0px 5px 10px;
	font-size: 11px;
}
/*
Styles For the main content area code.
*/
.pane-content{
	margin-left: 160px;
	background: #3B3A32;
	height:100%;
	padding-top: 6px;
	padding-bottom: 15px;
	overflow: auto;
	font-family: Consolas, monaco, monospace;
}
.code-table{
	font-size: 15px;
	color: #E3E3E3;
	width: 100%;
}
.code-table td{
	padding-left: 6px;
	padding-right: 6px;
}
.numbering{
	width: 25px;
	text-align: center;
	color: #A1A1A1 !important;
	font-size: 13px !important;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-right: 2px solid;
}

/* 
Custom theme colors for termpush 
*/
.red{
	color:#DE5C9D;
}
.live{
	font-style: bold;
	font-size: 10px;
}
.green{
	color: #71C671;
}
.blue{
	color: #5C85FF;
}
.yellow{
	color: #FFD119;
}